.wide-btn {
    width: 98%;
    height: 40px;
    background-color: #82b9e8;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: #82b9e8;
    font-weight: bold;
    margin: 0 10px;
}

.wide-btn:hover {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 2px #2990ff;
}

.wide-btn:active {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 2px #2990ff;
    background-color: #61aafc;
}