.col-red {
    color: red;
    background-color: #5e0000;
}

.col-blue {
    color: #1690E9
}

.col-border-blue {
    border-radius: 0 20px 20px 0;
    border-left: 5px solid #1690E9;
}

.col-border-red {
    border-radius: 0 7px 7px 0;
    border-left: 5px solid #C0392B;
}

.col-border-green {
    border-radius: 0 7px 7px 0;
    border-left: 5px solid #2ED573;
}