.h-font {
    font-family: Roboto, 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #2F3542;
}
.h2-font {
    font-family: Roboto, 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #2F3542;
}
.h3-font {
    font-family: Roboto, 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    /* identical to box height */

    color: #2F3542;
}
.h4-font {
    font-family: "Roboto Light", 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #2F3542;
}

.help-text {
    font-family: Roboto, 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
}

.h4-font-blue{
    font-family: Roboto, 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #1690E9
}

.underline {
    text-decoration: underline;
}


.bold {
    font-weight: bold;
}

.cntr-txt {
    color: #001c53;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.casual-small {
    font-family: Verdana, serif;
    font-size: 14px;
}
.casual-mid {
    font-family: Verdana, serif;
    font-size: 15px;
}
