.main-label {
    padding-bottom: 20px;
    color: dimgray;
    font-weight: bold;
    font-size: 20px;
}

.pre-label {
    display: block;
    color: dimgray;
    font: .8rem 'Fira Sans', Arial;
    /*font-family: Arial, sans-serif;*/
    padding-bottom: 5px;
}

.free-label {
    display: block;
    color: dimgray;
    /*font: .7rem 'Fira Sans', sans-serif;*/
    /*padding: 20px 0;*/
}

.warn-label {
    display: block;
    color: #ff0000;
    font: .9rem 'Fira Sans', sans-serif;
}

.point {
    cursor: pointer;
}

.link {

}