.common-page {
    padding: 32px 68px;
    flex: 1;
    /*background-color: #0000d4;*/
}

.common-casket {
    padding: 30px;
    /*width: 45%;*/
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
    border-radius: 12px;
    position: relative;
}

.casket {
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);
    border-radius: 12px;
    position: relative;
}
.left-casket {
    float: left;
    width: 49%;
}
.right-casket {
    float: right;
    width: 49%;
}

.simple-casket {
    padding: 10px;
    /*background-color: white;*/
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);*/
    border-radius: 12px;
    position: relative;
    width: 100%;
    border-collapse: separate;
    line-height: 0;
}
.simple-casket-ro {
    height: 8px;
    width: 10px;
}
.simple-casket-tr {
    border: 2px solid red;
}