.wide {
    width: 98%;
}

.cntr-txt {
    text-align: center;
}

.cntr-content {
    display: flex;
    justify-content: center;
}

.cntr-v-content {
    display: flex;
    align-items: center;
    /*vertical-align: center;*/
}

.flexc {
    display: flex;
    flex-direction: column;
}
.flexr {
    display: flex;
    flex-direction: row;
}

.floatr {
    float: right;
}