#dev-list {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*background-color: aquamarine;*/
}

#dev-list-head {
    display: inline-block;
    /*text-align: center;*/
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#dev-list-content {
    /*background-color: red;*/
}

#dev-list-item {

}