#dev-list {
    /*display: flex;*/
    flex-direction: row;
    /*align-items: center;*/
    background-color: aquamarine;
    max-width: 65%;
}

#dev-list-head {
    display: inline-block;
    /*text-align: center;*/
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#dev-list-content {
    /*background-color: red;*/
}

#dev-list-item {

}

#dev-list-item-unselect {
    color: #2F3542;
    font-family: Roboto, 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    padding: 5px 20px;
    border: none;
    text-transform: none;
}
#dev-list-item-select {
    color: #1690E9;
    font-family: Roboto, 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;

    padding: 5px 20px;
    text-transform: none;
    font-style: normal;
    border: none;
    border-bottom: 1px solid;
}
