.login-page {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 25px 35px 25px 40px;
    box-shadow: 0 2px 25px #dce8fd;
}

.stickRight {
    padding: 10px 5px;
    width: 100%;
    text-align: right;
}

.stickCntr {
    padding: 10px 5px;
    width: 100%;
    text-align: center;
}

.delimiter {
    color: #1065bb;
    border-bottom: 1px solid;
    margin-top: 50px;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

.pwd-show {
    background:url(../../public/icons/password-show.svg) left top;
    height: 22px;
    width: 22px;
    background-size: 22px 22px;
}

.pwd-hide {
    background: url(../../public/icons/password-hide.svg);
    height: 22px;
    width: 22px;
    background-size: 22px 22px;
}