#nav-bar {
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
}

#nav-logo-container {
    height: 100%;
    /*background-color: blue;*/
    float: left;
}

#nav-logo {
    background:url(../../public/icons/smart_home_system.svg) left top;
    height: 50px;
    width: 50px;
    background-size: 50px 50px;
}

#nav-text {
    color: white;
    padding-left: 20px;
}

#nav-menu {
    float: right;
    margin-right: 40px;
}
#nav-menu-item {
    padding: 0 15px;
}